{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Seat Information </h1>
    <h2> Seat Number: {{seat_number}}<h2>
    <h2> Seat Status: {{seat_status}}</h2>
    <h2> Seat Department: {{seat_department_name}}<h2>
    <h2> Seat Shift: {{seat_shiftid}}</h2>
    {%if employee_id != "null" %}
    <h2> Employee Id: {{employee_id}}<h2>
    <h2> Employee Designation: {{employee_designation}}</h2>
    {%endif%}
    {%if seat_status == "un" %}
    <button href="allocationform.html" target ="#blank">Allocate Seat</button>
    {%endif%}
  </body>
</html>
